h1 {
  text-align: center;
}
dl {
  margin: o;
  width: 60%;
}
dl > div {
  margin-bottom: 20px;
}
dt {
  padding: 10px;
  cursor: pointer;
  position: relative;
}
dt::before{
  content: 'Q.';
  font-weight: bold;
  color: red;
}
dt::after{
  content: '+';
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: transform 0.3s;
}
dl>div.appear dt::after{
  transform: rotate(45deg);
}
dd {
  margin: 0;
  padding: 10px;
  display: none;
}
dd::before{
  content: 'A';
  font-weight: bold;
  color: blue;
}
dl>div.appear dd{
  display: block;
}
